.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .next, 
.slides-navigation .prev {
	width : 20px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
} 

.title {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	text-align: center;
	margin-top: -125px;
	z-index:5;
}

.title .heading {
	color: #e5e9eb;
	font-weight: 100;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 5px;


}

.title .heading .main{
	font-size: 30px;
	text-shadow: 1px 1px #b4b9bb;


}

.title .heading .sub{
	color: #b4b9bb;
	font-size: 10px;

}


.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
}

